<% provide :page_title, "Sign up" %>

<div class="sign-page">
  <h1 class="sign-page__title">Welcome to <b>Calendaree</b></h1>
  <h3 class="sign-page__subtitle">Sign in, please</h3>

  <%= render 'sign_with_google_button' %>
</div>

