<%= link_to user,
            id: dom_id(user),
            class: 'row row--focusable',
            data: { turbo_frame: "_top" } do %>

  <div class="row__inner">
    <%= render partial: 'shared/avatar', locals: { user: user, src: user.avatar, size: 'm' } %>

    <% if user.name.present? %>
      <span>
        <%= user.name %>
      </span>
    <% end %>

    <span>
      <%= user.email %>
    </span>

    <span>Unapproved applications: <b>0</b></span>
  </div>
  <%#= user.remaining_days %>
<% end %>
