<div
  class="avatar avatar--<%= local_assigns[:size].nil? ? 'm' : local_assigns[:size] %><%= ' avatar--admin' if user.admin %>"
>

  <% if user&.avatar.present? %>
    <img class="avatar__img" src="<%= user.avatar %>" alt="user avatar" referrerpolicy="no-referrer">
  <% else %>
    <div class="avatar__default">
      <p class="avatar__default-initials">
        <%= get_user_initials(user.email, name: user.name) %>
      </p>
    </div>
  <% end %>
</div>
