<div class="inner-page-header">
  <%= link_to sanitize("&larr; Back to #{link_name}"),
              path,
              class: 'inner-page-header__back'%>

  <h1 class="inner-page-header__title"><%= title %></h1>
</div>
