@mixin pseudo_actions() {
  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    @content;
  }
}

.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  @include pseudo_actions() {
    transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--color-white);
    background-image: linear-gradient(
                    to right,
                    var(--color-primary),
                    var(--color-primary-rotate)
    );

    @include pseudo_actions() {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-image: linear-gradient(
                    to right,
                    var(--color-secondary),
                    var(--color-secondary-rotate)
    );

    @include pseudo_actions() {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    @include pseudo_actions() {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    @include pseudo_actions() {
      color: var(--color-white);
    }
  }

  &--primary--outline {
    color: var(--color-primary);
    background: none;
    border: 1px solid var(--color-primary);

    @include pseudo_actions() {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
      background-image: linear-gradient(
                      to right,
                      var(--color-primary),
                      var(--color-primary-rotate)
      );
    }
  }

  &--secondary--outline {
    color: var(--color-secondary);
    background: none;
    border: 1px solid var(--color-secondary);

    @include pseudo_actions() {
      color: var(--color-white);
      filter: brightness(110%);
      background-color:var(--color-secondary);
    }
  }
}
