.current_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__name {
    color: var(--color-secondary);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 var(--space-xs);

  }

  margin-bottom: var(--space-m);

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}