.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  &__group {
    flex: 1;
    width: 100%;
  }

  &__select {

  }

  &__label {
    font-weight: bold;
    display: inline-flex;
    margin-bottom: var(--space-xs);
  }

  &__group select {
    background-color: transparent;
    &:disabled {
      opacity: 0.5;
    }
  }

  &__group select,
  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: var(--space-xs);

    input {
      width: unset;
    }
  }


  @include media(tabletAndUp) {
    flex-direction: row;
  }
}
